{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>EL MEJOR ALBUN DE COLDPLAY !</h1>
    </div>

<div class="col-4">
    <img src="assets/img/img01.jpg" class="img-thumbnail" >
</div>

</div>

{{> footer}}